# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

AUTH_SECRET="GRHcTqC6lOUxY8se+8SjNmal9BG4htjbmiWWSOCPAhA=" # Added by npx auth. Read more: https://cli.authjs.dev/
AUTH_GOOGLE_ID="101247086962-eev9jois9bgoltkuajftftoi7bk6r7j0.apps.googleusercontent.com"
AUTH_GOOGLE_SECRET="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"
NEXTAUTH_URL=http://localhost:3000/
DATABASE_URL="postgresql://postgres:031002@localhost:5432/hopper?schema=public"
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000
# DATABASE_URL=postgres://avnadmin:AVNS_DeLXqnNFTU2HAGjjByP@pg-e2dfa17-fpt-34d5.i.aivencloud.com:26565/db?sslmode=require
SENDGRID_API_KEY=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
SENDER_EMAIL=tribui.it.work@gmail.com
REDIS_URL=rediss://default:AYUtAAIjcDExNTgwMjgxMzAzYmM0N2RkYWM4YTRjMWQyNmViNDBiYnAxMA@sweet-ostrich-34093.upstash.io:6379
NEXT_PUBLIC_SENTRY_DSN="https://8d5f8059ba3ef02b114c413acf005323@o4508878473265152.ingest.us.sentry.io/4508878475493376"
NEXT_PUBLIC_AMPLITUDE_API_KEY="fb16fcc7d757765ccc15bedc88ec73a7"
NEXT_PUBLIC_GROWTHBOOK_API_HOST=https://cdn.growthbook.io
NEXT_PUBLIC_GROWTHBOOK_CLIENT_KEY=sdk-WFEpQmpzW7pIbEd
NEXT_PUBLIC_GROWTHBOOK_API_ENDPOINT=https://cdn.growthbook.io/api/features/sdk-WFEpQmpzW7pIbEd
