# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

AUTH_SECRET="example_auth_secret" # Added by npx auth. Read more: https://cli.authjs.dev/
AUTH_GOOGLE_ID="example_google_id.apps.googleusercontent.com"
AUTH_GOOGLE_SECRET="example_google_secret"
NEXTAUTH_URL=http://example.com/
NEXT_PUBLIC_API_BASE_URL=http://example.com
# DATABASE_URL="postgres://avnadmin:example_password@example_host:26565/staging?sslmode=require"
DATABASE_URL="postgresql://postgres:example_password@localhost:5432/example_database?schema=public"
SENDGRID_API_KEY=SG.example_sendgrid_api_key
SENDER_EMAIL=example@example.com
REDIS_URL=rediss://default:example_redis_password@example_redis_host:6379
NEXT_PUBLIC_SENTRY_DSN="https://example_sentry_dsn@oexample.ingest.us.sentry.io/example"
NEXT_PUBLIC_AMPLITUDE_API_KEY="example_amplitude_api_key"
NEXT_PUBLIC_GROWTHBOOK_API_HOST=https://example.growthbook.io
NEXT_PUBLIC_GROWTHBOOK_CLIENT_KEY=sdk-example_growthbook_client_key
NEXT_PUBLIC_GROWTHBOOK_API_ENDPOINT=https://example.growthbook.io/api/features/sdk-example_growthbook_client_key


FIREBASE_API_KEY=example_firebase_api_key
FIREBASE_AUTH_DOMAIN=example_firebase_auth_domain
FIREBASE_PROJECT_ID=example_firebase_project_id
FIREBASE_STORAGE_BUCKET=example_firebase_storage_bucket
FIREBASE_MESSAGING_SENDER_ID=example_firebase_messaging_sender_id
FIREBASE_APP_ID=1:example_firebase_app_id
FIREBASE_MEASUREMENT_ID=G-example_firebase_measurement_id
