#storybook-root {
  width: -webkit-fill-available;
  width: stretch;
  width: 100%;
}

@keyframes progress {
  0% {
    transform: translateX(-100%);
    background-color: #3b82f6;
  }

  100% {
    transform: translateX(100%);
    background-color: #3b82f6;
  }
}

.animate-progress {
  animation: progress 1.5s ease-in-out infinite;
  background-color: #3b82f6;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 50;
}

/* Header sticky-top sẽ có z-index cao hơn */
.table-header.sticky-top {
  z-index: 50;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 20;
}

.table-scroll-y {
  overflow-y: auto;
}
